@import "tailwindcss";

@theme {
  --animate-slide-up-fade: slideUpFade 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes slideUpFade {
    0% {
      opacity: 0;
      transform: translateY(12px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  --background: #fafafc;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for a cleaner feel but keep functionality */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}